

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->
<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./assets/images/IMG_6287-new-scaled.webp" alt="">
                        <!-- <span><h4>Semi Indoor Plants</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3>Semi Indoor Plants</h3>
                        <li>
                            Indoor Plants</li>
                            <li>
                            Semi Indoor Plants
                            </li><li>
                            Air Purifying Plants
                            </li>
                            <li>
                            Exotic Plants
                        </li>
                        
                      
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./assets/images/outdoor.webp" alt="">
                        <!-- <span ><h4>OutdoorPlants</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3>Outdoor plants</h3>
                        <li>Ornamental Plants
                            </li><li>
                            Flowering Plants
                            </li><li>
                            Winter Seasonal Plants
                            </li><li>
                            Medicinal Plants
                        </li>
                              
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./assets/images/compost.webp" alt="">
                    
                        <!-- <span><h4>Garden Suppliments</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3>Garden Suppliments</h3>
                        <li>
                            Compost
                        </li>
                        <li>
                            Fertilizer
                        </li>
                        <li>
                            Tools
                        </li><li>
                            Perlite/Leca/Coco Peat
                        </li>
                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->