
    <div class="img">
    <img [src] ="url">
    </div>
    <div class="content">
<h1>How May I help you</h1>
<div class="field">
    <form class="form">
        <label for="name" ></label><br>
        <input type="text" placeholder="Name" id="in"><br>
    
        <label for="email"></label><br>
        <input type="text" placeholder="E-mail" id="in"><br>
    
        <label for="phn"></label><br>
        <input type="number" placeholder="Phonenumber" id="in"><br>
    
        <label for="mesg"></label><br>
        <input type="text" placeholder="Type Your Message Here" id="input"><br>
    
        <br><button class="btn btn-success" type="submit">Sendme</button>
    </form>
    
</div>
    

<div >
    <h5 class="para animate__animated animate__slideInLeft animate__infinite	infinite animate__slower 1s">
Connect with us
Having trouble with your order? Want to customize your order? Call us or WhatsApp us your query...</h5></div><br>
<div class="con">
    <li>
    Phone:
(+91) 80996 85518
</li><br>
<li>
    Address :
Sector 58, 6th Flotilla, Kerala
</li><br>
<li>
    Email:
plantsparadiseofficial@gmail.com
</li><br><br>

</div>
    </div>



