<div class="section1">
<div class="row">
<div class="col-md-7">
    <img [src] ="url4" alt="">
</div>
<div class="col-md-5">
<div class="para">
   <h3> Welcome to Plants-Paradise</h3>
   <h1>Our Journey to Dreams</h1>

  <p> We are a ‘budding’ startup that provides plants at your doorstep so that you don’t have any excuse for not planting enough!
   We bring a great variety of plants, equipment, pots and more to the table to make your living or working space green and clean. All this at the lowest cost possible so more people are able to afford it.
   Also, you’re not just buying plants for yourself but doing your bit for the planet too. For every 50th sale, we plant a tree and take care of it till it’s self-sustainable.</p>
   
</div>
</div>

</div>
</div>




